h1 {
    font-family: "Montserrat";
    font-weight: bolder;
    font-size: 3.5rem;
    line-height: 1.5;
}

body {
    font-family: "Montserrat";
    font-weight: 600;
}

.Container-fluid {
    padding: 3% 15% 7%;
}

#title {
    background-color: #ff4c68;
    color: #fff;
}

/* Navbar */

.navbar-expand-lg {
    padding: 0 0 4.5rem;
}

.navbar-brand {
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: 500;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-size: 1.2rem;
    font-family: "Montserrat";
    font-weight: lighter;
}

/* Download Buttons */

.download-button {
    margin: 5% 3% 5% 0;
}

/* Title-img */

.title-img {
    width: 50%;
    transform: rotate(25deg);
    position: absolute;
    right: 30%;
}

/* Features Image  */

.img {
    color: #ef8172;
    margin-bottom: 1rem;
}

.img:hover {
    color: #ff4c68;
}

/* Features */

#features {
    padding: 7% 15%;
    background-color: #fff;
    position: relative;
    z-index: 1;
}

.feature-box {
    text-align: center;
    padding: 5%;
}

h3 {
    font-family: "Montserrat";
    font-weight: bolder;
    font-size: 1.3rem;
}

p {
    color: #8f8f8f;
}

/* Testimonials */

#testimonials {
    background-color: #ef8172;
    color: #fff;
    text-align: center;
}

.carousel-item {
    padding: 7% 15%;
}

h2 {
    font-family: "Montserrat";
    font-weight: bolder;
    line-height: 1.5;
    font-size: 2rem;
}

.testimonial-image {
    width: 10%;
    border-radius: 100%;
    margin: 30px;
}

/* Press */

#press {
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 5%;
}

.press-logo {
    width: 15%;
    margin: 20px 20px 50px;
}

/* Pricing Table */

#pricing {
    text-align: center;
    padding: 100px;
}

.pricing-col {
    padding: 3% 2%;
}

/* Call to Action */

#cta {
    background-color: #ff4c68;
    color: #fff;
    text-align: center;
    padding: 7% 15%;
}

.cta-heading {
    font-family: "Montserrat";
    font-weight: bolder;
    font-size: 3.5rem;
    line-height: 1.5;
}

/* footer */

#footer {
    padding: 7% 15%;
    text-align: center;
}

.footer-img {
    margin: 20px 10px;
    color: grey;
}

.footer-img:hover {
    color: black;
}